<div class="box">
    
    <h3>Events in <%= event_group[0] %></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 10%">Date</th>
                <th style="width: 40%">Sport Category</th>
                <th style="width: 30%">Title</th>
                <th style="width: 20%">Team Names</th>
            </tr>
        </thead>
        
        <tbody>
            <% event_group[1].each do |event| %>
            <tr>
                <td><%=event.event_date%></td>
                <td><%=event.event_category.name%></td>
                <td><%=event.title%></td>
                <td><%=event.teams%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<hr />
